<!--用户请求users的登录页面时，Django将使用默认视图函数，但也要为这个页面提供模板。默认的身份验证视图在文件夹registration中查找-->
{% extends "learning_logs/base.html" %} <!--继承base模板，确保跟其他网站页面外观一致-->

{% block content %}

  {% if form.errors %} <!--错误信息时的提醒，if判断-->
    <p>Your username and password didn't match. Please try again.</p>
  {% endif %}

  <form method="post" action="{% url 'users:login' %}">
    <!--让登录视图对表单进行处理，将实参action设置为登录页面的URL-->
    {% csrf_token %}
    {{ form.as_p }}<!--显示表单-->

    <button name="submit">Log in</button><!--提交按钮-->
    <input type="hidden" name="next"
         value="{% url 'learning_logs:index' %}" /><!--隐藏的表单元素next，value告诉Django登录成功后重定向到什么地方：返回主页-->
  </form>

{% endblock content %}